@use '../../partials/_typography' as *;
@use  '../../partials/_color-variables' as *;

.site-header {
    background-color: $global-secondary-background;
    color: white;
    font-family: 'Maitree';
    font-weight: 300;
    height: 3.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    &__text-section {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    &__link {
        height: 1.7rem;
        margin-right: 0.725rem;

        &:hover {
            border-bottom: 2px solid white;
        }
    }

    &__icon-section {
        display: flex;
    }

    &__icon {
        width: 2rem;

        &:hover {
            transform: scale(1.1);
        }

        &--github{
            margin-right: 0.75rem;
        }
    }
}