@use '../../partials/_typography' as *;
@use  '../../partials/_color-variables' as *;
@use '../../partials/_breakpoints' as *;

.site-header {
    background-color: $global-secondary-background;
    color: white;
    font-family: 'Maitree';
    font-weight: 300;
    height: 3.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    transition: all 1s;

    @include tablet {
        height: 5.5rem;
        padding: 0 3rem;
    }

    @include desktop {
        padding: 0 10%;
    }

    &__text-section {
        display: flex;
        justify-content: space-between;
        width: 50%;

        @include tablet {
            width: 40%;
        }

        @include desktop {
            width: 30%;
        }
    }

    &__link {
        height: 1.7rem;
        margin-right: 0.725rem;
        transition: border-width 0.2s linear;

        &:hover {
            border-bottom: 2px solid white;
            border-width: 4px;
        }

        @include tablet {
            font-size: 1.2rem;
            height: 2rem;
        }
    }

    &__icon-section {
        display: flex;
    }

    &__icon {
        width: 2rem;

        @include tablet {
            width: 2.75rem;
        }

        &:hover {
            transform: scale(1.1);
        }

        &--github{
            margin-right: 0.75rem;
        }
    }
}