@use '../../partials/_typography' as *;

.welcome {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    &__text-container {
        margin-left: 1%;
    }

    &__shianne {
        width: 90%;
        max-width: 350px;
    }

    &__paragraph {
        line-height: 20px;
        width: 281px;
        margin-top: 1rem;
    }

    &__icon {
        padding-top: 5rem;
        width: 90%;
        max-width: 400px;
        margin: auto;
    }
}