@use '../../partials/_typography' as *;
@use '../../partials/_animations' as *;
@use '../../partials/_color-variables' as *;
@use '../../partials/_breakpoints' as *;

.about {
    margin-top: 10rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        margin-top: 20rem;
    }    

    &__title {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
    }

    &__mission-section {
        margin-top: 2rem;
        width: 255px;
        height: 378px;
        padding: 45px;
        border-radius: 8px;
        box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: #454444;
        position: relative;

        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 3rem 0;
            width: 80%;
            height: 300px;
        }
    }

    &__mission-circle-top {
        position: absolute;
        top: -1.75rem;
        right: -1.75rem;
        width: 77px;
        height: 77px;
        border-radius: 50%;
        box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: rgba(229, 102, 179, 0.31);

        @include tablet {
            visibility: hidden;
        }
    }

    &__mission-circle-bottom {

        @include tablet {
            position: absolute;
            bottom: -2.25rem;
            left: -2.25rem;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            background-color: rgba(229, 102, 179, 0.31);
            }
    }

    &__mission-title {
        font-family: 'Maitree';
        font-weight: 500;
        color: $mission-CTA;
        font-size: 2rem;
        width: 50%;
        line-height: 2.25rem;
    }

    &__mission-info {
        margin-top: 1rem;
        line-height: 2rem;
        width: 8rem;

        &--cta {
            color: white;
        }

        &--cta-two {
            color: #c293af;
        }
    }
}