@use '../../partials/_typography' as *;
@use '../../partials/_animations' as *;
@use '../../partials/_color-variables' as *;

.about {
    margin-top: 10rem;
    height: 100vh;

    &__title {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
    }
}