//primary colors
$global-text: #bfbfbf;
$global-header: #ffffff;
$global-background: #1b1b1b;
$global-secondary-background: #363535;

// my mission 
$mission-CTA: #bc5292;

// skills 
$skills-CTA: #00f0ff;

// history 
$history-CTA: #02fd8b;



